<!-- About Section -->
<section id="about" class="py-16 px-4 bg-white">
    <div
        class="max-w-4xl mx-auto flex flex-col md:flex-row items-center">
        <div class="md:w-1/2 mb-8 md:mb-0 md:mr-8">
            <h2 class="text-3xl font-bold mb-4 text-secondary">About
                Me</h2>
            <p class="text-primary mb-4">
                "สวัสดีค่ะ ดิฉัน วรวัตร พิลึกนา หรือ ฟรีมมี่ ปัจจุบันอายุ 20 ปี เป็นนักศึกษาปีที่ 3 สาขาเทคโนโลยีสารสนเทศเพื่ออุตสาหกรรมดิจิทัล คณะวิทยาการสารสนเทศ มหาวิทยาลัยบูรพา นอกเหนือจากการเรียน ดิฉันยังดำรงตำแหน่ง ประธานสาขาเทคโนโลยีสารสนเทศ รุ่นที่ 24 และ รองนายกสโมสรนิสิตคณะวิทยาการสารสนเทศ ปีการศึกษา 2567 รวมถึงเป็น หัวหน้าฝ่ายคทากรของคณะดิฉันสนใจเทคโนโลยี การออกแบบเว็บไซต์ และการพัฒนาศักยภาพส่วนตัว ผ่านการทำกิจกรรมและการเป็นผู้นำทีมในโอกาสต่างๆ เป้าหมายของผมคือการนำความรู้และประสบการณ์มาสร้างสรรค์สิ่งใหม่ๆ ที่เป็นประโยชน์ทั้งในชีวิตส่วนตัวและการทำงานในอนาคต"
            </p>
            <a class="text-secondary">คำคมประจำใจ:
                "สวย มั่นใจ ไม่กลัว ไม่ลอง ไม่รู้"</a>
        </div>
        <!-- EDU Section -->
        <div class="md:w-1/2 grid grid-cols-20 gap-4">
            <h3 class="text-2xl font-bold text-primary">ประวัติการศึกษา</h3>
            <div class="bg-accent2 p-6 rounded-lg text-center flex flex-col items-center">
                <h3 class="text-2xl font-bold text-primary">ระดับชั้นประถมศึกษา</h3>
                <img src="/src/component/about/ตราโรงเรียนชุมชนวัดราษฎร์บำรุง.jpg" alt="ตราโรงเรียนชุมชนวัดราษฎร์บำรุง" class="w-24 h-24 sm:w-20 sm:h-20 md:w-24 md:h-24 rounded-full">
                <p class="text-secondary">โรงเรียนชุมชนวัดราษฎร์บำรุง</p>
            </div>
            <div class="bg-accent2 p-6 rounded-lg text-center flex flex-col items-center">
                <h3 class="text-2xl font-bold text-primary">ระดับชั้นมัธยมศึกษา</h3>
                <img src="ตราโรงเรียน นมร สกส.jpg" alt="ตราโรงเรียน นมร สกส" class="w-24 h-24 sm:w-20 sm:h-20 md:w-24 md:h-24 rounded-full">
                <p class="text-secondary">โรงเรียนนวมินทราชินูทิศ สวนกุหลาบวิทยาลัย สมุทรปราการ</p>
            </div>
            <div class="bg-accent2 p-6 rounded-lg text-center flex flex-col items-center">
                <h3 class="text-2xl font-bold text-primary">ปัจจุบัน</h3>
                <img src="ตรามหาวิทยาลัยบูรพา.png" alt="ตรามหาวิทยาลัยบูรพา" class="w-24 h-24 sm:w-20 sm:h-20 md:w-24 md:h-24 rounded-full">
                <p class="text-secondary">หลักสูตรปริญญาตรี วิทยาศาสตรบัณฑิต สาขาเทคโนโลยีสารสนเทศเพื่ออุตสาหกรรมดิจิทัล  คณะวิทยาการสารสนเทศ มหาวิทยาลัยบูรพา</p>
            </div>
        </div>
    </div>
</section>